form { 
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 0 auto;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;

    &:last-of-type {
      margin-top: 1rem;
    }

    input {
      padding: 0.2rem;
    }
    &.alert.alert-danger {
      justify-content: right;

      span {
        color: red;
        text-align: right;
      }
    }
  }
  button {
    padding: 0.25rem 1rem;
    background-color: yellow;
    border: 1px solid black;

  }
}
